.about {
  padding: 0 8vw;
  opacity: 0;
  transition: opacity 1.5s;
  text-align: left;
}

.about__content-main {
  font-weight: 600;
  font-family: 'Rajdhani', sans-serif;
  font-size: 4vw;
  margin-top: 4vh;

  span {
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: transparent;
  }
}

.about__content {
  font-size: 20px;
  line-height: 1.3;
}

@media (max-width: $desktop-breakpoint) {
  .about__content-main {
    font-size: 9vw;
  }
}