.contact-page {
  padding: 0 10vw 4vh 10vw;
  opacity: 0;
  transition: opacity 1.5s;
  text-align: left;
  margin-bottom: -10vh;
}

.contact-page__title {
  text-align: center;
  margin-bottom: 10vh;
  margin-top: 3vh;
  font-size: 3em;
}

.contact-page__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-page__left {
  font-size: 1.7vw;
  margin-right: 4vw;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 12vh;
}

.contact-page__information {
  font-size: 1.2vw;

  a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
}

@media (max-width: $desktop-breakpoint) {
  .contact-page {
    margin-bottom: 0;
  }
  .contact-page__title {
    margin-bottom: 5vh;
    font-size: 10vw;
  }
  .contact-page__content {
    flex-direction: column;
  }
  .contact-page__left {
    font-size: 5vw;
    margin: 0 0 5vh 0;
  }
  .contact-page__information {
    font-size: 4vw;
  }
}