.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.project__button {
  background-color: #463F3A;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  transition: background-color 0.5s;
  
  &:hover {
    cursor: pointer;
    background-color: lighten($color: #463F3A, $amount: 10);
  }
}

.project__year {
  color: white;
  position: absolute;
  top: 30vh;
  right: -1vw;
  margin: 0;
  transform: rotate(270deg);
  font-size: 1.2em;
  font-weight: 600;
}

.projects__project {
  margin-bottom: 18vh;
  position: relative;
}

.project__overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2vw;
  margin-top: -30vh;
  margin-bottom: 0;
}

.project__overlay > div {
  background-color: #473F3A;
  color: white;
  display: inline-block;
  padding: 17px 35px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.projects__image {
  height: 50vh;
  width: 40vw;
  object-fit: fill;
  margin: 5vh 0;
}

.project__bottom {
  margin-bottom: '10vh';
}

@media (max-width: $desktop-breakpoint) {
  .projects__image {
    width: 80vw;
    height: auto;
    margin: 5vh auto;
    object-fit: contain;
  }
  .projects__project {
    margin: 3vh auto;
  }
  .project__overlay {
    // margin-top: -18vh;
    position: absolute;
    left: 4vw;
    top: 12vh;
    margin: 0;
  }
  .project__overlay > div {
    padding: 10px 25px;
  }
  .project__button {
    padding: 8px 20px;
  }
  .project__year {
    top: 15vh;
    right: -3vw;
  }
  .project__bottom {
    margin-bottom: 5vh;
  }
}